body{
    background-color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5em;
}
.text-color{
    font-size: 3.5em;
    color :#ff6464
}
section  button{
border-radius: 10px;
  padding: 10px;
  font-size: 2.5em;
  background-color: #e1de27;
  cursor: pointer;
}
.data-section{
background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 23px;
  width: 80%;
}
.data-section h1{
    font-size: 2em;
    color: #333;
}
.data-section h2{
    font-size: 1.5em;
    color: #555;
}
.data-section h3{
    font-size: 1.2em;
    color: #777;
}
.data-section hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}